@import "tailwindcss";

@layer utilities {
  /* Custom Dark Gold Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #09090b;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(234, 179, 8, 0.25);
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(234, 179, 8, 0.5);
  }
}
